# Example of how ENVs should be while creating a local repo

ORIGIN_URL=http://localhost:3000
PORT=8000
ACCESS_TOKEN_SECRET=exampleaccesstokensecret
REFRESH_TOKEN_SECRET=examplerefreshtokensecret
MONGO_URI=teststring
ENCRYPT_KEY=examplekey
# require('crypto').randomBytes(32).toString('hex'); TO GENERATE HEX KEYS